{% include base_path %}

{% capture logo_path %}{{ site.logo }}{% endcapture %}

<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <!-- {% unless logo_path == empty %}
          <a class="site-logo" href="{{ '/' | relative_url }}">
            <img src="{{ logo_path | relative_url }}" alt="{{ site.masthead_title | default: site.title }}" style="height: 40px; width: auto;">
          </a>
        {% endunless %} -->
        <!-- <button><div class="navicon"></div></button> -->
        <button><span class="navicon"></span></button>
        <ul class="visible-links">
          <li class="masthead__menu-item masthead__menu-item--lg"><a href="{{ base_path }}/">{{ site.title }}</a></li>
          {% for link in site.data.navigation.main %}
            {% if link.url contains 'http' %}
              {% assign domain = '' %}
              {% else %}
              {% assign domain = base_path %}
            {% endif %}
            <li class="masthead__menu-item"><a href="{{ domain }}{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}
        </ul>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    var nav = document.querySelector('.greedy-nav');
    var visibleLinks = nav.querySelector('.visible-links');
    var hiddenLinks = nav.querySelector('.hidden-links');
    var navToggle = nav.querySelector('#nav-toggle');

    function updateNav() {
      var availableSpace = nav.offsetWidth - navToggle.offsetWidth;
      var totalWidth = 0;

      // Move items to hidden links if they don't fit
      while (visibleLinks.children.length > 0 && totalWidth + visibleLinks.children[0].offsetWidth > availableSpace) {
        hiddenLinks.insertBefore(visibleLinks.children[0], hiddenLinks.firstChild);
      }

      // Move items to visible links if there is space
      while (hiddenLinks.children.length > 0 && totalWidth + hiddenLinks.children[0].offsetWidth <= availableSpace) {
        visibleLinks.appendChild(hiddenLinks.children[0]);
      }

      // Show or hide the toggle button
      navToggle.style.display = hiddenLinks.children.length > 0 ? 'inline-block' : 'none';
    }

    // Initial update
    updateNav();

    // Update on window resize
    window.addEventListener('resize', function() {
      if (window.innerWidth > 925) {
        updateNav();
      } else {
        hiddenLinks.classList.add('hidden');
      }
    });

    // Toggle hidden links on button click
    navToggle.addEventListener('click', function() {
      hiddenLinks.classList.toggle('hidden');
    });
  });
</script>